@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regole fondamentali per occupare tutto lo schermo */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f9ff; /* Sfondo azzurrino di base */
  font-family: system-ui, -apple-system, sans-serif;
}
